<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Zé Delivery - Store list with ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
</head>
<body>
<div id="react"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5sbNTiDwymXDzyzKVE3goh_1gx8gbhFY&amp;libraries=places"></script>
<script src="/bundle.js"></script>
</body>
</html>